.ballon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 12px;
  width: 350px;
}

.ballon-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-image-in-ballon {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-right: 20px;
}

.user-name {
  font-size: 30px;
  font-family: "Lato", sans-serif;
}

.user-link {
  font-size: 20px;
  color: aquamarine;
  margin: 20px 0;
}

.close-text {
  color: #fff;
  font-size: 25px;
  position: absolute;
  right: 10px;
  top: 2px;
  cursor: pointer;
}
