<div
  [@abrirFechar]="isOpen ? 'open' : 'closed'"
  class="ballon"
  *ngIf="this.userParam"
>
  <span class="close-text" (click)="closeModal()">X</span>
  <div class="ballon-row">
    <img
      class="user-image-in-ballon"
      [src]="userParam.image"
      alt="Imagem do usuário"
    />
    <span class="text-white user-name">{{ userParam?.name }}</span>
  </div>

  <a
    style="text-decoration: none;"
    [routerLink]="['/repository', userParam.gitUser]"
  >
    <p class="user-link">Ver perfil do github</p>
  </a>
</div>
