<div *ngIf="this.bitcoin" style="background-color: #2c374f; height: 92vh;">
  <div class="container">
    <div class="update-btn" (click)="this.getListValues()">
      <i class="fas fa-rocket"></i>
    </div>
    <div class="row">
      <div class="col-12 my-4">
        <h1 class="text-center text-white my-3">Cotação atual do bitcoin</h1>
        <p class="text-center text-white">
          Ultima atualização:
          {{ bitcoin.time.updated | date: "dd/MM/yyyy HH:mm:ss" }}
        </p>
      </div>
      <div
        class="col-6 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="planet-container">
          <img
            class="planet-image"
            src="../../assets/images/saturn.png"
            alt=""
          />
        </div>
        <span class="btc-text">
          {{ bitcoin.bpi.USD.rate_float | currency: "USD":'symbol-narrow'}}</span
        >
      </div>
      <div
        class="col-6 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="planet-container">
          <img
            class="planet-image"
            src="../../assets/images/lalunar.png"
            alt=""
          />
        </div>
        <span class="btc-text">
          {{ bitcoin.bpi.BRL.rate_float | currency:"BRL"}}</span
        >
      </div>
    </div>
  </div>
</div>
