<div style="background-color: #2c374f;" *ngIf="this.gitUserInfo">
  <div class="container-fluid h-100">
    <div class="row">
      <div class="col-4">
        <div class="card-user-back-btn" [routerLink]="['/']">
          <i class="fas fa-arrow-left"></i>
        </div>
        <div class="row-users">
          <div *ngFor="let user of usersInView" style="position: relative;">
            <img
              class="user-rounded-image"
              src="{{ user.image }}"
              width="80"
              height="80"
              alt=""
              (click)="setActive(user)"
            />
            <div *ngIf="this.userActive == user.gitUser">
              <div class="rocket-active">
                <i class="fas fa-rocket rocket-icon"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="card card-user rounded p-3">
          <h4 class="text-center mb-3">
            {{ this.gitUserInfo.name || this.gitUserInfo.login }}
          </h4>
          <span>Bio</span>
          <hr />
          <p>
            {{ this.gitUserInfo.bio }}
          </p>
        </div>
      </div>
      <div class="col-8 bg-white">
        <h2>Repositórios</h2>
        <div class="scroll">
          <table class="table">
            <tr>
              <th scope="col">NOME</th>
              <th scope="col">URL</th>
              <th scope="col">DATA DE CRIAÇÃO</th>
              <th scope="col">LINGUAGEM</th>
            </tr>

            <tr *ngFor="let repo of gitRepos">
              <td>{{ repo.name }}</td>
              <td>
                <a
                  href="{{ repo.clone_url }}"
                  target="_blank"
                  class="link-repo-url"
                  >{{ repo.clone_url }}</a
                >
              </td>

              <td>{{ repo.created_at }}</td>
              <td>{{ repo.language }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
