<div style="background-color: #2c374f; height: 92vh;">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card card-user rounded p-3">
          <h4>Nome</h4>
          <img
            width="120"
            height="120"
            class="rounded-circle align-self-center"
            src="https://avatars0.githubusercontent.com/u/13474328?v=4"
            alt=""
          />
          <span>Bio</span>
          <p>
            Desenvolvedor caiçara\r\n-Estudante do curso de Sistemas para
            Internet da fatec em Santos\r\n-Encontrou nos códigos uma forma
            expressar suas ideias
          </p>
        </div>
      </div>
      <div class="col-8 p-3">
        <h2>Repositórios</h2>
      </div>
    </div>
  </div>
</div>
