.scroll {
  overflow-y: scroll;
  height: 85vh;
}

.card-user {
  margin-top: 50px;
}
.row-users {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
}

.user-rounded {
  width: 90px;
  height: 90px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rocket-active {
  margin-top: 20px;
  margin-left: 20px;
  height: 40px;
  width: 40px;
}

.card-user-back-btn {
  position: absolute;
  left: 10px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}
