.main-bg {
  background-image: url("../../assets/images/bg-tp01.png");
  background-repeat: no-repeat;
  height: 92vh;
  background-position: top;
}

.users-rocket {
  position: absolute;
  width: 130px;
  height: 40px;
  top: 200px;
  left: 150px;
  transform: rotate(-27deg);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user-image {
  width: 32px;
  height: 32px;
  border-radius: 15px;
}
